<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <meanbee_royalmail>
                <active>0</active>
                <allowed_methods>i11lstdltr,i11lstdlgltr,i11lstdsmprcl,i11lltrtracksign,i11llgltrtracksign,i11lsmprcltracksign,i11ltrackedltr,i11ltrackedlgltr,i11ltrackedsmprcl,i11lltrsigned,i11lsignedlgltr,i11lsignedsmprcl,i11lecoltr,i11lecolgltr,i11lecosmprcl,special1pm,special9am,special1pmsat,special9amsat,1stltrsigned,1stlgltrsigned,1stsignedsm,1stsignedmed,2ndltrsigned,2ndlgltrsigned,2ndsmprclsigned,2ndmedprclsigned,ltr,lgltr,1stsm,1stmed,2ndltr,2ndlgltr,2ndsmprcl,2ndmedprcl,pfwwxp9,pfwwxp10,pfwwxpAM,pfwwxp24,pfwwxp48,pfwwxp9sat,pfwwxp10sat,pfwwxpAMsat,pfwwxp24sat,pfwwxp48sat</allowed_methods>
                <title>Royal Mail</title>
                <model>Meanbee\MagentoRoyalmail\Model\Carrier</model>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </meanbee_royalmail>
        </carriers>
    </default>
</config>